
button{
    margin: 5px;
}

.h2, .h4{
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.thumbnail{
    height: 200px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
}